<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/Cars/static/js/script.js" async></script>
    <link rel="stylesheet" type="text/css" href="../Cars/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Find Helper</title>
</head>
<body class="page">
    <section class="content">
          <div class='air air1'></div>
          <div class='air air2'></div>
          <div class='air air3'></div>
          <div class='air air4'></div>



         <div class="upper-section">
                <div class="page-title">
                    <div class="page-title-more">
                        <img class ="logo" src="Cars/static/image/Logo.png">
                    </div>
                </div>
                <div></div>
                <div class="find-button-div" id="find-button-section" >
                    <div class="find"  onclick="find_tab(1)">Find your car</div>

                </div>
                <div class="about-section">
                    <div class="about" onclick="find_tab(2)">
                        About Page
                    </div>
                </div>
         </div>
        <div class="main-page-3">
            <div class="about-explenation"> This programme is used to help select a car, based on a number of given requirements.
            It is based on user ratings on the motofakty.pl website, from where information on the rating of the vehicle in question is taken.
            To save time that would have been spent on webcrawling, the basic data selected by the user is compared to a dataset created for this project. This dataset is a modification of the dataset from kaggle.com, and it contained information about the ads issued in 2021. A link to this dataset is provided below:
            https://www.kaggle.com/datasets/bartoszpieniak/poland-cars-for-sale-dataset
            </div>
        </div>
     </section>
</body>
</html>